<h2>ジャンル編集</h2>
<p>ジャンル名
  <%= f.texfield %>
  <%= f.radio_button :status, :enabled, checked: "checked" %>有効
  <%= f.radio_button :status, :disabled, checked: "checked" %>無効
  <%= link_to "編集を保存する", admin_genre_path(genre.id) %></p>