<div class="col-lg-4">

	<!-- お店の画像を背景にして表示させる↓ -->
	<p>ようこそ、NaganoCakeへ！<br>
		このサイトは、ケーキ販売のECサイトになります。<br>
		会員でない方でも商品の閲覧はできますが、<br>
		購入には会員登録が必要になります。
	</p>

	<h2>オススメ商品</h2>
	<!-- each文で表示 -->
	 <div class="">
	 	<%= attachiment_image_tag %>
	 	<div>商品名</div>
	 	<div>¥</div>
	 </div>

</div>


