<!-- header -->
<%= render 'admins/header' %>
<!-- header -->

<div class="col-lg-4">

	<!-- お店の画像を背景にして表示させる↓ -->
	<p>ようこそ、NaganoCakeへ！<br>
		このサイトは、ケーキ販売のECサイトになります。<br>
		会員でない方でも商品の閲覧はできますが、<br>
		購入には会員登録が必要になります。
	</p>



<h2>オススメ商品</h2>
<% @rank_products.each do |product| %>
  <%= attachment_image_tag @product, :image, size: '200x200',format: "jpeg",fallback: "washoku.jpg" %>
  <%= product.name %>
  <%= product.price %>円
<% end %>

