
<!-- 販売ステータスが有効のみ表示 -->
     <div class="row">
        <h2>ジャンル検索</h2>
     </div>
     <div class="row">
         <% @genres.each do |genre| %>
          <h3><div><%= link_to genre.name, genre_products_path(genre) %></div></h3>
         
          <% end %> 
      </div>
