<!-- header -->
<%= render 'admins/header' %>
<!-- サイドバーのジャンルは部分テンプレートを挿入 -->


<!-- サイドバーのジャンルは部分テンプレートを挿入 -->
<h1>商品詳細</h1> <h4>全 <%#= @product.count %>件</h4>

<% @products.each do |product| %>
<%= attachment_image_tag product, :image, :fill,300,300,format:'jpeg'  %>
<%= link_to product.name, admins_product_path(product) %>
<%= product.price %>

<% end %>


<!-- 商品詳細で画面に収まらなかったものを横にスクロールさせて表示させる？
一覧の下にページ数を表す点が4つある -->

